@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: rgb(64, 64, 72);
  --text-color: rgb(255, 255, 255);
  --main-color: rgb(0, 229, 255);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header .sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.layar-penuh {
  width: 100%;
}

/* pengaturan header */

heade home {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

header video {
  position: absolute;
  width: 100%;
  object-fit: cover;
  z-index: -2;
}
header .intro {
  color: #fff;
  text-align: center;
  position: relative;
  top: 280px;
  z-index: 1;
}
header .intro h3 {
  font-size: 50px;
  margin: 0;
  padding: 0;
}
.tombol {
  background-color: #c86b85;
  height: 40px;
  line-height: 42px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0px 20px 0px 20px;
  font-size: 15px;
  border-radius: 4px;
}
header .overlay {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 50%;
  z-index: -1;
}

section.layar {
  padding: 50px 0px 50px 0px;
}
section.layar h3 {
  font-size: 30px;
}
section.layar h3::after {
  content: ;
  border-bottom: 5px solid #c86b85;
  width: 52px;
  display: block;
  margin: 20px auto;
}

section {
  min-height: 53vh;
  padding: 5rem 9% 2rem;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--tet-color);
  display: none;
}

.home {
  display: flex;
}

.home-img img {
  width: 20%;
  padding: 6% 0% 0% 0%;
}

.home-img {
  text-align: center;
}

/* WORK EXPERIENCE */

section.experience {
  padding: 2rem 0;
  min-height: auto;
  background: #1f242d;
  box-shadow: 0px -16px 85px rgba(0, 0, 0, 0);
}

.judul-experience {
  font-size: 50px;
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5rem;
  color: white;
}

/* WORK EXPERIENCE */

/* NAVBAR HEADER */

/* About profile */

.home-content h3 {
  font-size: 30px;
  text-align: center;
}

.home-content h1 {
  font-size: 60px;
  text-align: center;
}
.home-content p {
  font-size: 19px;
  text-align: justify;
  padding: 31px 40px;
  background-color: #2f3136; /* warna abu gelap */
  border-radius: 15px; /* sudut melengkung */
  border: 1px solid #3a3c40; /* garis tipis */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* efek bayangan */
  color: #fff; /* biar kontras sama background */
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

section.school {
  min-height: 60vh;
  padding: 5rem 0% 2rem;
  background: #2a2f37ff;
  box-shadow: 0px -16px 85px rgba(0, 0, 0, 0.3);
  text-align: center; /* Judul <h1> di tengah */
}

section.school h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 5rem;
  color: white;
}

.row {
  display: flex; /* susun horizontal */
  padding: 0px 79px 89px 61px;
  gap: 3rem;
}

.row1 {
  display: flex;
  gap: 40px;
  padding: 80px;
}

.img-slide {
  position: relative;
}

.img-school {
  gap: 2rem;
  width: 282px;
  height: 270px;
  object-fit: cover;
  border-radius: 40px;
}
.img-experience {
  gap: 2rem;
  width: 172px;
  height: 150px;
  object-fit: cover; /* potong gambar supaya proporsional */
  border-radius: 40px;
}

.judul-image {
  position: relative;
  z-indez: 2;
  text-align: center;
  padding: 0px 12px;
  font-size: 20px;
  padding-top: 10px;
}

.backround-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-warp: warp;
  gap: 2rem;
}

.card-work {
  flex: 1 1 30rem;
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid #424242ff;
  transition: 0.5s ease;
  width: 30%;
  height: auto;
  background: #24353cff;
}

.card-work:hover,
.card-work:active {
  border-color: #6bceffff;
  transform: scale(1.03);
}

/* btn PADDING */
.btn-link1 {
  padding-top: 60px;
  position: relative;
  z-index: 3;
}
.btn-link2 {
  padding-top: 60px;
  position: relative;
  z-index: 3;
}
.btn-link3 {
  padding-top: 28px;
  position: relative;
  z-index: 3;
}
.btn-link4 {
  padding-top: 28px;
  position: relative;
  z-index: 3;
}
/* btn PADDING */

.btn {
  display: inline-block;
  padding-top: 10px;
  padding: 1rem 1.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

/* NEW SECTION */
/* Section Skills */

.Judul-skill {
  text-align: left;
  padding-left: 30px;
  font-size: 40px;
  padding-bottom: 20px;
}

section.skills-section {
  padding: 70px 0px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* kasih jarak antar card */
  padding: 20px;
}

.card {
  display: flex;
  align-items: center;
  background: #24353cff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 24%);
  padding: 20px;
  gap: 20px; /* jarak antara gambar & teks */
}

.card-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.card-text {
  flex: 1; /* biar teks menyesuaikan lebar */
  color: #ffffffff;
}

.card-text P {
  font-size: 20px;
}
.card-text H2 {
  font-size: 30px;
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 6rem 3% 2rem;
  }

  .service {
    padding-bottom: 7rem;
  }

  .portofolio {
    padding-bottom: 7rem;
    flex-direction: column;
  }

  .portofolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-content p {
    padding: 20px 20px 60px 20px;
    font-size: 14px;
  }

  .home-img img {
    width: 70vw;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about img {
    width: 70vw;
    margin-top: 4rem;
  }

  .service h2 {
    margin-bottom: 3rem;
  }

  .services-container {
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
  }

  .service-box {
    width: 100%;
    max-width: 100%;
  }

  /* PREVIOUS SCHOOL */
  section.school h1 {
    font-size: 30px;
  }

  .judul-image {
    font-size: 17px;
    padding-top: 20px;
  }

  /* IMG-SCHOOL */
  .img-school {
    width: 143px;
    height: 140px;
    border-radius: 200px;
  }

  .img-experience {
    width: 250px;
    height: 170px;
    border-radius: 50px;
  }

  /* row */
  .row {
    padding: 0px 70px 69px 68px;
    gap: 10px;
  }

  .row1 {
    flex-direction: column; /* biar tiap card tetap ke bawah */
  }

  /* WORK EXPERIENCE */
  .judul-experience {
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
  }

  .card-work {
    display: flex;
    gap: 30px;
    backround
    padding: 2px 0px 12px 2px;
    text-align: left;
    width: 198px;
  }

  .card-work img {
            width: 135px;
        height: 110px;
    border-radius: 15px;
    padding: 0;
  }

  .btn-link1,
  .btn-link2,
  .btn-link3,
  .btn-link4 {
    padding: 50px 0px 10px 44px;
    position: relative;
    z-index: 3;
  }
}

@media (max-width: 617px) {
  .portofolio-container {
    grid-template-columns: 1fr;
  }

  .skills-container {
    width: 100%;
    gap: 50px;
    padding-bottom: 10px;
    padding-left: 24px;
  }
  .skill-card {
    width: 350px;
    height: 250px;
    font-weight: 500;
  }

  .card {
    margin: -18px 0px;
  }

  .card-text P {
    font-size: 10px;
  }
  .card-text H2 {
    font-size: 25px;
  }
  .card-img {
    width: 120px;
    height: 120px;
  }

  .img-experience {
    width: 350px;
    height: 280px;
    border-radius: 50px;
  }

  .row {
    padding: 0px 35px 50px 35px;
    overflow-x: auto; /* aktifkan scroll horizontal */
    scroll-behavior: smooth; /* geser halus */
  }

  .row1 {
    padding: 33px 31px 52px 13px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    flex-direction: row;
  }

  p.socrates {
    text-align: right;
  }

  .judul-image {
    font-size: 10px;
    padding-top: 12px;
  }

  .deskripsi{
    text-align: justify;
    padding-top: 10px;
    font-size: 7px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contact form .input-box input {
    width: 100%;
  }

  .home-img img {
    margin: 50px 0px 0px 0px;
  }
}
