@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: rgb(64, 64, 72);
  --text-color: rgb(255, 255, 255);
  --main-color: rgb(0, 229, 255);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header .sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.layar-penuh {
  width: 100%;
}

/* pengaturan header */

heade home {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

header video {
  position: absolute;
  width: 100%;
  object-fit: cover;
  z-index: -2;
}
header .intro {
  color: #fff;
  text-align: center;
  position: relative;
  top: 280px;
  z-index: 1;
}
header .intro h3 {
  font-size: 50px;
  margin: 0;
  padding: 0;
}
.tombol {
  background-color: #c86b85;
  height: 40px;
  line-height: 42px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0px 20px 0px 20px;
  font-size: 15px;
  border-radius: 4px;
}
header .overlay {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 50%;
  z-index: -1;
}

section.layar {
  padding: 50px 0px 50px 0px;
}
section.layar h3 {
  font-size: 30px;
}
section.layar h3::after {
  content: ;
  border-bottom: 5px solid #c86b85;
  width: 52px;
  display: block;
  margin: 20px auto;
}

section {
  min-height: 53vh;
  padding: 5rem 9% 2rem;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--tet-color);
  display: none;
}

.home {
  display: flex;
}

.home-img img {
  width: 20%;
  padding: 6% 0% 0% 0%;
}

.home-img {
  text-align: center;
}

/* WORK EXPERIENCE */

section.experience {
  padding: 2rem 0;
  min-height: auto;
  background: #2e3239;
  box-shadow: 0px -16px 85px rgba(0, 0, 0, 0.3);
}

.judul-experience {
  font-size: 50px;
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5rem;
  color: white;
}

/* WORK EXPERIENCE */

/* NAVBAR HEADER */

/* About profile */

.home-content h3 {
  font-size: 30px;
  text-align: center;
}

.home-content h1 {
  font-size: 60px;
  text-align: center;
}
.home-content p {
  font-size: 16px;
  text-align: justify;
  padding: 31px 0px 50px 0px;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

section.school {
  min-height: 53vh;
  padding: 5rem 0% 2rem;
  background: #2e3239;
  text-align: center; /* Judul <h1> di tengah */
}

section.school h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 5rem;
  color: white;
}

.row {
  display: flex; /* susun horizontal */
  overflow-x: auto; /* aktifkan scroll horizontal */
  scroll-behavior: smooth; /* geser halus */
  padding: 0px 79px 89px 61px;
  gap: 3rem;
}

.row1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

.img-slide {
  position: relative;
}

.img-school {
  gap: 2rem;
  width: 282px;
  height: 270px;
  object-fit: cover;
  border-radius: 40px;
}
.img-experience {
  gap: 2rem;
  width: 172px;
  height: 150px;
  object-fit: cover; /* potong gambar supaya proporsional */
  border-radius: 40px;
}

.judul-image {
  position: relative;
  z-indez: 2;
  text-align: center;
  padding: 0px 40px;
  font-size: 20px;
  padding-top: 10px;
}

.backround-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-warp: warp;
  gap: 2rem;
}

.card-work {
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid #424242ff;
  transition: 0.5s ease;
  width: 30%;
  height: auto;
}

.card-work:hover,
.card-work:active {
  border-color: #00aaffff;
  transform: scale(1.03);
}

/* btn PADDING */
.btn-link1 {
  padding-top: 60px;
  position: relative;
  z-index: 3;
}
.btn-link2 {
  padding-top: 60px;
  position: relative;
  z-index: 3;
}
.btn-link3 {
  padding-top: 28px;
  position: relative;
  z-index: 3;
}
.btn-link4 {
  padding-top: 28px;
  position: relative;
  z-index: 3;
}
/* btn PADDING */

.btn {
  display: inline-block;
  padding-top: 10px;
  padding: 1rem 1.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 6rem 3% 2rem;
  }

  .service {
    padding-bottom: 7rem;
  }

  .portofolio {
    padding-bottom: 7rem;
    flex-direction: column;
  }

  .portofolio-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: grid;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-margin: 2rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-content p {
    padding: 20px;
  }

  .home-img img {
    width: 70vw;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about img {
    width: 70vw;
    mergin-top: 4rem;
  }

  .service h2 {
    margin-bottom: 3rem;
  }

  .services-container {
    flex-direction: column;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
  }

  .service-box {
    width: 100%;
    max-width: 100%;
  }

  /* PREVIOUS SCHOOL */
  section.school h1 {
    font-size: 30px;
  }

  .judul-image {
    font-size: 17px;
    padding-top: 20px;
  }

  /* PREVIOUS SCHOOL */
  /* IMG-SCHOOL */
  .img-school {
    width: 389px;
    height: 240px;
    border-radius: 20px;
  }

  .img-experience {
    width: 250px;
    height: 170px;
    border-radius: 50px;
  }
  /* row */
  .row {
    padding: 0px 70px 69px 68px;
    gap: 90px;
  }
  .row1 {
    flex-direction: column; /* biar tiap card tetap ke bawah */
  }
  /* IMG-SCHOOL */

  /* WORK EXPERIENCE */
  .judul-experience {
    font-size: 30px;
    padding-top: 40px;
    padding-left: 30px;
    text-align: left;
  }
  .card-work {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 2px 0px 12px 2px;
    text-align: left;
    width: 370px;
  }
  .card-work img {
    width: 365px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0px 0px 0px 0px;
    max-width: 100%;
    height: 180px;
  }
  .card-work .judul-image,
  .card-work .btn-link1,
  .card-work .btn-link2,
  .card-work .btn-link3,
  .card-work .btn-link4 {
    margin: 10px 12px;
    padding-top: 0px;
    flex: 1;
  }

  /* WORK EXPERIENCE */
}

@media (max-width: 617px) {
  .portofolio-container {
    grid-template-columns: 1fr;
  }

  .img-experience {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }

  .row {
    padding: 0px 24px 70px 19px;
  }

  .row1 {
    padding: 6px 50px 32px 29px;
    gap: 40px;
  }

  .judul-image {
    font-size: 17px;
    padding-top: 20px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contact form .input-box input {
    width: 100%;
  }
  .home-img img {
    margin: 50px 0px 0px 0px;
  }
}
